<h1><%= @user.full_name %></h1>
<hr />
<h3>Appointments</h3>
<ul>
  <% @user_appts.each do |appt| %>
    <li>
      <%= "#{appt.doc.dr_name} (#{appt.doc.dr_num}): #{appt.date}" %>
    </li>
  <% end %>
</ul>
<br />
<%= link_to 'Delete User', @user, method: :delete, class: "ui red button" %>
