<h1>Doctors</h1>
<%= link_to 'Add Doctor', new_doc_path %>
<hr />
<h2><%= @docs.length <= 0 ? "No Doctors" : "" %></h2> 
<ul>
  <% @docs.each do |doc| %>
    <li>
      <%= link_to doc.dr_num, doc %>
    </li>
  <% end %>
</ul>