<h2><%= @doc.dr_num %></h2>
<hr />
<br />
<%= link_to 'Appointments', doc_appts_path(@doc), class: "ui green button inverted" %>
<%= link_to 'Edit', edit_doc_path(@doc), class: "ui green button inverted" %>
<%= link_to "Delete Appts", @doc, method: :delete, class: "ui red button" %>